body {
	font-family: 'Roboto Slab';
	margin: 0;
	padding: 0;
	font-size: 16px;
}

p {
	text-align: justify;
}

.content {
	max-width: 900px;
	padding: 0 .2em;
	margin: 0 auto;
}

.block {
	margin-bottom: 3em;
}

.light-text {
	font-weight: 500;
	line-height: 200%;
	margin-bottom: 1.4em;
}

.block > .light-text > span {
	display: table-cell;
}

.block > .light-text > span ~ span{
	padding-left: 1em;
}

.block > h1 {
	font-size: 4em;
	font-weight: 100;
}


.foot {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: .7em;
	margin: 0 auto;
	max-width: 120px;
	font-family: 'Roboto Slab Light';
}

.flex {
	/* basic styling */
	width: 350px;
	height: 200px;
	border: 1px solid #555;
	font: 14px Arial;

	/* flexbox setup */
	display: flex;
	flex-direction: column;
}

.flex > div {
	flex: 1 1 auto;
	width: 30px;
	transition: width 0.7s ease-out;
}